<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Opa</string>
	<key>ordering</key>
	<array>
		<string>6EFC7D81-7319-47DD-A191-735B5DE53E02</string>
		<string>7F47A932-3FD5-4AB9-9192-25BDAF3C3ED3</string>
		<string>AFDF17F6-F4B8-408C-96A4-575AF7B3CC70</string>
		<string>92F984DA-0529-4860-8896-3CAEFCC40458</string>
		<string>A2AD59BE-B9FF-4FB5-8330-DEDBDD3ACB17</string>
		<string>A78BA706-0A1C-4918-8E77-347E2DE87B20</string>
	</array>
	<key>uuid</key>
	<string>3C6BD947-B761-4E03-91D1-305F385485A6</string>
</dict>
</plist>
